<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!--images-->
    <img src="./assets/icon/profile.png" />

    <!--company-->
    <ion-card>
        <ion-card-header>
            <ion-avatar class="avatar">
                <img src="./assets/icon/logo.png" />
            </ion-avatar>
            <ion-card-title class="user">Classic Phonograph </ion-card-title>
            <ion-card-subtitle class="email">
                <ion-icon slot="start" name="mail"></ion-icon>CP@gmail.com</ion-card-subtitle>
        </ion-card-header>
        <div class="socials">
            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-facebook"></ion-icon> Classic Phonograph
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-instagram"></ion-icon> Classic_phono
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-twitter"></ion-icon> C_phono
            </ion-button>
        </div>
        <ion-card-title class="user1">The Classic Phonograph Corporation is an online blog with up-to-date information on new musical releases and announcements. Additionally, it offers a forum for any music fans that may be reading this. </ion-card-title>
        <br>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title class="user">DEVELOPER</ion-card-title>
        </ion-card-header>
    </ion-card>

    <!--profile card-->
    <ion-card>
        <ion-card-header>
            <ion-avatar class="avatar">
                <img src="https://scontent.fmnl17-5.fna.fbcdn.net/v/t39.30808-6/307758742_2243595635814714_8818745918692476150_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGLOaHAmF2WNH99ylUF1nskdM8KJXb3kUV0zwoldveRRdbONkfbQPJ6qZUDxkkUZW54gs5n_b5N2NJL0qXQVHLN&_nc_ohc=bHlBsikP0jUAX8rENdV&_nc_oc=AQmm9SVlxmyMzfQc0lm1XCxasohl09ar7yW8lgtPL5WmGlol_UCjJyjw6b4T6ZgfmnU&_nc_ht=scontent.fmnl17-5.fna&oh=00_AfAvR7iLySLHqMuv4gOW3lFMEAyajGn36jArR8BfBk6WfQ&oe=638D77D7"
                />
            </ion-avatar>
            <ion-card-title class="user">Justin Ron Galang </ion-card-title>
            <ion-card-subtitle class="email">
                <ion-icon slot="start" name="mail"></ion-icon>justingalangzxc31@gmail.com</ion-card-subtitle>
        </ion-card-header>
        <div class="socials">
            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-facebook"></ion-icon> Justin Ron Galang
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-instagram"></ion-icon> k1dla
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-tiktok"></ion-icon> k1dla
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-twitter"></ion-icon> Jastenron
            </ion-button>
        </div>
    </ion-card>



</ion-content>