ion-card-title {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
}

ion-card-subtitle {
    font-size: small;
    color: #ad7b67;
    text-align: justify;
}

ion-card-content {
    font-weight: bolder;
}

ion-button {
    font-weight: bold;
}